

* {
	font-family:'NanumGothic';
}

body {
	background-image:url(http://static.naver.net/newsstand/img/20121231/bg_bd.png);
}

li {
	display:inline-block;
}

.blind {
	overflow:hidden;
	width:0;
	height:0;
	opacity:0;
	margin:0;
	padding:0;
}

header > .wrapper{
	display:block;
	background-image:url(http://static.naver.net/newsstand/img/20121231/bg_hd.png);
	background-repeat: repeat-x;
	position:relative;
	padding-top:5px;
	height:56px;
}

.header_title {
	display:inline-block;
	background-image:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png);
	background-position-x:2px;
	background-position-y:-82px;
	background-repeat:no-repeat;
	margin-left:15px;
	overflow:hidden;
	width:119px;
	height:30px;
	line-height:999px;
}

.header_subtitle {
	display:inline-block;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -116px -82px no-repeat;
	width:270px;
	height:30px;
	line-height:999px;
	overflow:hidden;
	color:#8a8a7f;
	font-size:12px;
}

.header_menu1 {
	display: block;
	position:absolute;
	top:5px;
	left:50%;
	width:180px;
	height:30px;
	margin-left:-90px;
}

.header_menu1 > ul{
	display:inline-block;
	height:30px;
	float:right;
}

.header_menu1 > ul * {
	display:inline-block;
	float:left;
	width:87px;
	height:30px;
	line-height:999px;
	overflow:hidden;
}

.header_menu1_my {
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -1px -116px no-repeat;
}

.header_menu1_my:hover {
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -1px -184px no-repeat;
}

.header_menu1_entire {
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -88px -150px no-repeat;
	margin-left:-5px;
}

.header_menu2 {
	display:inline-block;
	float:right;
	padding:5px 9px 0 0;
}

.header_menu2 > ul > li * {
	display:inline-block;
	vertical-align:top;
	line-height:999px;
	overflow:hidden;
}

.header_menu2 span {
	width:2px;
	height:20px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -244px -150px no-repeat
}

.btn_login {
	width:45px;
	height:21px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -187px -174px no-repeat;
}

.btn_refresh {
	width:66px;
	height:21px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -252px -150px no-repeat;
}

.btn_refresh:hover {
	background-position:-252px -61px
}

.btn_setting {
	width:46px;
	height:21px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -332px -150px no-repeat;
}

.btn_setting:hover {
	background-position: -332px -61px;
}

.btn_naver {
	width:60px;
	height:21px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -536px -272px no-repeat; 
}

#contents_navi {
	text-align:center;
	display:block;
}

#contents_navi a{
	display: block;
	overflow:hidden;
	height:24px;
	line-height:999px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) no-repeat;
	vertical-align:top;
}

#contents_navi .cn1 a{
	width:72px;
	background-position:-1px -252px;
}

#contents_navi .cn1 a:hover{

}

#contents_navi .cn2 a{
	width:68px;
	background-position:-93px -278px;
}

#contents_navi .cn2 a:hover{
	background-position:-182px -278px;
}

#contents_navi .cn3 a{
	width:68px;
	background-position:-93px -304px;
}

#contents_navi .cn3 a:hover{
	background-position:-182px -304px;
}

#contents_navi .cn4 a{
	width:32px;
	background-position:-93px -382px;
}

#contents_navi .cn4 a:hover{
	background-position:-182px -382px;
}

#contents_navi .cn5 a{
	width:52px;
	background-position:-93px -330px;
}

#contents_navi .cn5 a:hover{
	background-position:-182px -330px;
}

#contents_navi .cn6 a{
	width:79px;
	background-position:-93px -408px;
}

#contents_navi .cn6 a:hover{
	background-position:-182px -408px
}

#contents_navi .cn7 a{
	width:89px;
	background-position:-93px -434px;
}

#contents_navi .cn7 a:hover{
	background-position:-182px -434px;
}

#contents_navi .cn8 a{
	width:40px;
	background-position:-93px -460px;
}

#contents_navi .cn8 a:hover{
	background-position:-182px -460px;
}

#contents {
	margin-top:-10px;
	clear:both;
	overflow:hidden;
}

#contents_article_frame {
	width:100%;
}


.article_fix_size {
	position:relative;
	width:50%;
	margin:0 auto;
	overflow:visible;
	min-width:900px;
	height:560px;
}

.rolling_left_btn {
	width:59px;
	height:82px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) 0 0 no-repeat;
	overflow:hidden;
	line-height:999px;
	z-index:10;
	position:absolute;
	left:-8%;
	top:230px;
	display:inline-block;
}

.rolling_left_btn:hover {
	background-position: -127px 0px;
}

.rolling_right_btn {
	width:59px;
	height:82px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -55px 0 no-repeat;
	overflow:hidden;
	line-height:999px;
	position:absolute;
	z-index:10;
	top:230px;
	right:-8%;
	display:inline-block;
}

.rolling_right_btn:hover {
	background-position: -182px 0px;
}


.article_fix_size > .wrapper {
	position:absolute;
	display: block;
	width:560%;
	left:-230.5%;
	top:0px;
}

.article_frame {
	z-index:1;
	position:relative;
	float:left;
	display:inline-block;
	padding:0 20px;
	background-image:url(http://static.naver.net/newsstand/img/20121231/bg_panel.png);
	background-repeat:repeat-y;
	width:900px;
	height:560px;
	left:0px;
	padding:auto;
	margin-left:60px;
}

#article_frame1 {
	opacity:0.5;
}


.article_frame_top {
	overflow:hidden;
	margin:15px 30px;
	border-bottom:3px solid #545454;
}

.article_frame_top > div {
	float:left;
	display:block;
}

.article_frame_top > div a {
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) no-repeat;
	display:inline-block;
	vertical-align: top;
	line-height:999px;
	overflow:hidden;
	float: left;
}


.press_bar {
	padding-top:2px;
	float:left;
	display:block;
}

.press_bar > a:nth-of-type(1) {
	width:66px;
	height:22px;
	line-height:999px;
	background-position:-187px -199px;
	margin-right:2px;
}

.press_bar > a:nth-of-type(2) {
	width:5px;
	padding:0 0 0 70px;
	height:22px;
	background-position:-293px -174px;
}

.press_bar > a:nth-of-type(2) > span {
	width:2px;
	height:22px;
	display:inline-block;
	margin-left:3px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -397px -174px no-repeat;
}

.press_bar > a:nth-of-type(3) {
	width:17px;
	height:18px;
	margin:2px 0 0 6px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -236px -174px no-repeat;
}


.press_bar > a:nth-of-type(4) {
	width:17px;
	height:18px;
		margin:2px 0 0 2px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -255px -174px no-repeat;
}

.press_bar > a:nth-of-type(5) {
	width:17px;
	height:18px;
		margin:2px 0 0 2px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -274px -174px no-repeat;
}

.press_bar > p {
	display:inline-block;
	font-family:tahoma;
	color:#454545;
	font-size:11px;
	line-height: 11px;
	margin:5px;
}


.press_logo {
	margin:6px 0;
	display:block;
}

.article_ad {
	float:right;
	display:inline-block;
}

.article_frame_middle {
	display:block;
	clear:both;
	margin:0 30px;
	margin-top: 15px;
}

.contents_left {
	float:left;
	width:580px;
}

.contents_headline {
	display:block;
	border:1px solid #dadbdb;
	height:132px;
	background-color:#f8f9f9;
}

.contents_headline *{
	text-overflow:ellipsis;	
}


#article_frame_contents {
	position:relative;
	width:840px;
	height:380px;
}

#article_frame_contents .top{
	font-size:20px; 
	background: none;
	margin-top:10px;
	margin-left:190px;
}

#article_frame_contents .top > img {
	width:192px;
	height:132px;
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
}

#article_frame_contents li {
	font-family:'NanumGothic';
	font-weight:bold;
	font-size:15px;
	line-height:27px;
	display:block;
	margin-left:220px;
	background-image: url(http://static.naver.net/newsstand/2013/1112/KBS/231054/010.png);
	background-position-x: 0px;
	background-position-y:12px;
	background-repeat:no-repeat;
	padding-left:15px;
}


.article_frame_bottom {
	display:block;
	float:right;
	clear:both;
	margin-right:30px;
}
.press_link p {
	margin-top:-2px;
	display: inline-block;
	font-weight:bold;
	font-size:11px;
	font-family:'NanumGothic';
	color:#000;
}

.press_link strong {
	color:#4a7ce4;
}

.press_link span{
	width:3px;
	height:6px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) no-repeat -510px -300px;
}

#article_frame3 {
	opacity:0.5;
}

.article_frame_control {
	position:absolute;
	bottom:-5px;
	left:5px;
	width:200px;
	height:20px;
	vertical-align:center;
}

.article_frame_control * {
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) no-repeat;
	overflow:hidden;
	vertical-align: middle;
	display:inline-block;
	line-height:999px;
}

.article_frame_control > h5 {
	background-position:-525px -300px;
	width:42px;
	height:11px;
}

.article_frame_control > a {
	background-position:-435px -455px;
	width:90px;
	height:24px;
}


.article_frame_pages {
	position:absolute;
	height:20px;
	right:5px;
	bottom:-5px;
	text-align:center;
}

.article_frame_pages span {
	margin:5px;
	float:left;
}

.article_frame_pages .rolling_left_btn_small {
	width:22px;
	height:23px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) no-repeat;
	background-position:-435px -585px;
	overflow:hidden;
	line-height:999px;
	display: inline-block;
	margin-right:-5px;
	float:left;
	
}

.rolling_left_btn_small:hover {
	background-position: -535px -585px;
}

.article_frame_pages .rolling_right_btn_small {
	width:22px;
	height:23px;
	background:url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) no-repeat;
	background-position:-460px -585px;
	overflow:hidden;
	line-height:999px;
	display: inline-block;
	float:left;	
}

.rolling_right_btn_small:hover {
	background-position: -560px -585px;
}

#contents > footer {
	clear:both;
}

#contents_press_navi {
	margin-top: 15px;
	display:block;
	background-image:url(http://static.naver.net/newsstand/img/20121231/bg_nv.png);
	position:relative;
	height:120px;
}

#contents_press_navi > .press_rolling_left {
	position:absolute;
	background: url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -253px -236px no-repeat;
	top:13px;
	left:5px;
	width:26px;
	height:83px;
	display:inline-block;
	line-height:999px;
	overflow: hidden;
}

#contents_press_navi > .press_rolling_left:hover {
	background-position:-293px -236px;
}

#contents_press_navi > ol{
	position:absolute;
	min-width:700px;
	top:15px;
	left:35px;
	display:inline-block;
	zoom:1;
}

#contents_press_navi > ol li a {
	width:83px;
	height:80px;
	padding:3px 0 0 0;
	display:block;
	position: relative;
	text-align:center;
	background: url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -173px -489px no-repeat;
}

#contents_press_navi > .press_rolling_right {
	position:absolute;
	background: url(http://static.naver.net/newsstand/img/20131014/sp_nwstd.png) -273px -236px no-repeat;
	top:13px;
	right:5px;
	width:26px;
	height:83px;
	display:inline-block;
	line-height:999px;
	overflow: hidden;
}

#contents_press_navi > .press_rolling_right:hover {
	background-position:-313px -236px;
}

#footer {
	position:relative;
	height:50px;
	text-align:center;
	background-image:url(http://static.naver.net/newsstand/img/20121231/bg_ft.png);
	background-repeat:repeat-x;
}

#footer p {
	color:#aca69f;
	font-size:11px;
	font-family:'NanumGothic';
}

#footer a {
	font-family: 'NanumGothic';
	text-decoration: none;
	font-weight: bold;
}

#footer a:hover {
	text-decoration: underline
}

#footer div:nth-of-type(1){
	padding-top:10px;
}

#footer div:nth-of-type(2) {
	padding-top:8px;
}

#footer a {
	color:#c7c2bc;
}