<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<link type="text/css" rel="stylesheet" href="reset.css"/>
<link type="text/css" rel="stylesheet" href="main.css"/>
<script src="http://www.google.com/jsapi"></script>
<script>
 google.load( "webfont", "1" );
 google.setOnLoadCallback(function() {
  WebFont.load({ custom: {
   families: [ "NanumGothic" ],
   urls: [ "http://fontface.kr/NanumGothic/css" ]
  }});
 });
</script>
<script src="underscore.js"></script>  
<title>NewsStand</title>

</head>
<body>
  
  
  <h2 class="blind">HEADER영역</h2>
  <header>
  	<div class="wrapper">
		 <h4 class="header_title">NEWSSTAND</h4>
		 <p class="header_subtitle">뉴스스탠드 기사는 각 언론사에서 직접 편집합니다</p>
	
		 <div class="header_menu1">
		   <ul>
			 <li><a class="header_menu1_my" href="#">MY뉴스</a></li>
			 <li><a class="header_menu1_entire" href="#">전체언론사</a></li>
		   </ul>
		 </div>
		 
		 <div class="header_menu2">
		   <ul>
			 <li><a href="#" class="btn_login">로그인</a></li>
			 <li><span>|</span></li>
			 <li><a href="#" class="btn_refresh">새로고침</a></li>
 			 <li><span>|</span></li>
			 <li><a href="#" class="btn_setting">설정</a></li>
 			 <li><span>|</span></li>
			 <li><a href="http://www.naver.com" class="btn_naver">NAVER</a></li>
		   </ul>
		 </div>
	</div>
  </header>

  <h2 class="blind">CONTENTS영역</h2>
  <section id="contents">
	
	<h2 class="blind">CONTENTS NAVI (TOP) </h2>
	<nav id="contents_navi">
	  <ul>
		<li class="cn1"><a href="#">주요언론사</a></li>
		<li class="cn2"><a href="#">종합/경제</a></li>
		<li class="cn3"><a href="#">방송/통신</a></li>
		<li class="cn4"><a href="#">IT</a></li>
		<li class="cn5"><a href="#">영자지</a></li>
		<li class="cn6"><a href="#">스포츠/연예</a></li>
		<li class="cn7"><a href="#">매거진/전문지</a></li>
		<li class="cn8"><a href="#">지역</a></li>
	  </ul>	 
	</nav>

	<h2 class="blind">CONTENTS ARTICLE (MIDDLE) </h2>	 
	<section id="contents_article_frame">
	
	<!-- HIDDEN CONTENTS -->
		
		<div class="blind" id="hidden_contents">
		
		<script type="text/template" class="template">
		<div class="wrapper">
		   		<!-- top -->
		   		<header class="article_frame_top">
						<div>
							<% if (logoURL) { %>
					 			<img class="press_logo" src="<%=logoURL%>"/>	
					 		<%}%>
							<div class="press_bar">
								<a href="#">구독하기</a>
								<a href="#"><span>이용자 한마디</span></a>
								<a href="#">미투</a>
								<a href="#">트위터</a>
								<a href="#">페북</a>
								<p>
								 	<span>10-07 09:54</span>
								 	<span>편집</span>
								 </p>
							</div>
						</div>
					<a class="article_ad" href="#"><img src="#"/></a>
				</header>
		
				<!-- middle -->
					<article class="article_frame_middle">
						<% if (iframeURL) { %>
						<iframe src="<%=iframeURL%>" width="840px" height="380px" frameborder="0" scrolling="no"></iframe>
						<%}%>						
					</article>
		
				<!-- bottom -->
				<footer class="article_frame_bottom">
					<a class="press_link" href="#">
						<p>
							<% if (pressName) { %>
							 <strong><%=pressName%></strong> 사이트 바로가기<span></span>
	 						<%}%>	
						   </p>
					  </a>
				  </footer>
				  
				  		 </div>
				  </script>
		</div>
		
		
	<!-- HIDDEN CONTENTS END-->
		
		<div class="article_fix_size">
			<a href="#" class="rolling_left_btn"><</a>
			<a href="#" class="rolling_right_btn">></a>
		 	<div class="wrapper">
		 	
		<!-- Article1 -->
		<article class="article_frame" id="article_frame_1"></article>
	  
		<!-- Article2 -->
		<article class="article_frame" id="article_frame_2"></article>
		
		
		<!-- center Article -->
		<article class="article_frame" id="article_frame_3"></article>
		
	  
	  
	  
	  <!-- Article4 -->
	  <article class="article_frame" id="article_frame4"></article>
	  
	  <!-- Article5 -->
	  <article class="article_frame" id="article_frame5"></article>	
	  
	    
	  </div>
	  <div class="article_frame_control">
			 		<h5>자동넘김</h5>
			 		<a href="#">속도설정</a>
	  </div>
		  <div class="article_frame_pages">
		  		<div>
	   				<span>1</span>
	   				<span>/</span>
					<span>52</span>
					<a class="rolling_left_btn_small" href="#">이전</a>
					<a class="rolling_right_btn_small" href="#">다음</a>
			   </div>
		  </div>
	  </div>
	</section>
	
	<h2 class="blind">CONTENTS FOOTER (BOTTOM) </h2>	 
	<footer>    
	  <section>
		<nav id="contents_press_navi">
		
		  <a class="press_rolling_left" href="#">left_rolling_btn</a>
		  <ol></ol>
		  <a class="press_rolling_right" href="#">right_rolling_btn</a>
		</nav>
	  </section>
	</footer>
  </section>
  <!--Contents body area end -->  
  
  <!-- footer area start -->
  <footer id="footer">
	  <div><p>본 콘텐츠의 저작권은 제공처 또는 네이버에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적책임을 질 수 있습니다.</p></div>
	  <div>
		<p>
		  	<span>Copyright ⓒ</span>
			<strong><a href="#">NAVER Corp.</a></strong>
		  	<span>All Right Reserved</span>
		</p>
    </div>
  </footer>
  <!-- footer area end -->	
<script src = "main.js"> </script>
</body>
</html>